<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Builder</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<section class="row">
    <section class="column">
        <h2>Input API data here</h2>
        <form action="/api/mbs1" method="POST">
            <input type="text" placeholder="id" name="_id">
            <input type="text" placeholder="set" name="set">
            <input type="text" placeholder="setName" name="setName">
            <input type="number" placeholder="seriesNo" name="seriesNo">
            <input type="text" placeholder="item" name="item">
            <input type="number" placeholder="itemNo" name="itemNo">
            <input type="text" placeholder="itemName" name="itemName">
            <input type="text" placeholder="brandName" name="brandName">
            <input type="text" placeholder="image" name="image">
            <input type="text" placeholder="rarity" name="rarity">
            <input type="text" placeholder="specialFeature" name="specialFeature">
            <button type="submit">SUBMIT NEW</button>
            <button type="button" id="updateButton">UPDATE EXISITNG</button>

        </form>
    </section>
    <section class="column">
        <h2>Delete API Data Here</h2>
        <input type="text" placeholder="name to delete" name="deleteInput" id="deleteInput">
        <button id="deleteButton">DELETE</button>
        
        <h2>Current Mini Brands Entered</h2>
        <ul class="aliens">
            <% for(let i=0; i< info.length; i++) {%>
                <li class="alien">
                    <span><%= info[i] %></span>
                </li>    
            <% } %>
        </ul>
    </section>
</section>

<script type="text/javascript" src="main.js"></script>
</body>
</html>